body {
   background-color: #50e3c2;
}

section {
   background-color: #f7f7f7;
   width: 460px;
   padding-top: 50px;
   text-align: center;
   padding-bottom: 50px;
}

input {
   width: 85%;
   height: 47px;
   font-family: Lato-Regular, sans-serif;
   font-size: 26px;
}

.button {
   background-color: #df69e8;
   font-family: Lato-Regular, sans-serif;
   font-size: 26px;
   color: #ffffff;
   height: 47px;
   width: 15%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.input_section {
   margin: auto;
   width: 360px;
   display: flex;
   align-items: center;
}

.items {
   margin: auto;
   width: 360px;
   display: flex;
   align-items: center;
}

.itemtext {
   width: calc(100% - 76px);
   height: 47px;
   font-family: Lato-Regular, sans-serif;
   font-size: 26px;
   text-align: left;
   font-family: Lato-Regular, sans-serif;
   font-size: 26px;
   color: #9b9b9b;
}

.checked {
   color: #cecece;
}

.wastebin {
   height: 30px;
   width: 38px;
   display: flex;
   object-fit: scale-down;
}

.checkbox {
   height: 32px;
   width: 38px;
   border-radius: 20px;
   border-color: #9b9b9b;
   border-width: thin;
   border-style: solid;
}

.fa-check {
   color: white;
   background-color: #df69e8;
}

.heading {
   font-family: Lato-Light, sans-serif;
   font-size: 64px;
   color: #ffffff;
   margin: 0px;
}
