body{
  margin: auto;
  background-color: #F6F6F6;
}

header{
  height: 80px;
  background: linear-gradient(180deg, #FFFFFF, #F6F6F6);
  font-size: 14px;
}

main{
  width: auto;
  margin-left: 175px;
  padding: 0px 25px;
  background-color: #FFFFFF;
  border-left: 1px solid #A7D7F9;
  border-bottom: 1px solid #A7D7F9;
  border-top: 1px solid #A7D7F9;
}

footer{
  width: auto;
  height: 100px;
  margin-left: 175px;
  padding: 0px 25px;
  background-color: #F6F6F6;
}

footer div, footer p{
  font-size: 12px;
}

.footer-links a{
  display: inline-block;
  margin: 0px 10px 40px 0px;
}

.header1-2{
float: right;
padding: 0px;
}

.header-first-row{
  display: inline-block;
  padding: 10px;
}

.header-second-row{
  display: inline-block;
  padding: 10px;
}

.sidebar{
  width: 175px;
  height: 100%;
  background-color: #F6F6F6;
  float: left;
}

.wiki-logo{
  width: 160px;
  margin-top: -80px;
}

h1, h2{
  border-bottom: 1px solid grey;
  overflow: hidden;
  margin-bottom: -10px;
  font-weight: normal;
}

h1{
  font-size: 1.9rem;
}

p{
  font-size: 1.05rem;
  line-height: 150%;
}

.from-the-wiki{
  font-size: 0.9rem;
}

.for-other-people{
  font-size: 0.9rem;
  margin-left: 20px;
  margin-bottom: -10px;
  font-style: italic;
}

.biography{
  width: 270px;
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  float: right;
  margin-bottom: 6px;
  margin-left: 12px;
}

.biography thead tr:nth-child(3) th{
  font-weight: 100;
  font-size: 14px;
}

td{
  vertical-align: top;
}

.photo2{
  width: 222px;
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  /*float: right;*/
  margin-bottom: 6px;
  margin-left: 12px;
  padding: 3px;
}

.photo2 p, .photo3 p, .photo4 p{
    font-size: 14px;
}

.photo3{
  width: 222px;
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  /*float: right;*/
  margin-bottom: 6px;
  margin-left: 12px;
  margin-top: 30px;
  padding: 3px;
}

.photo4{
  width: 180px;
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  /*float: right;*/
  margin-bottom: 6px;
  margin-left: 12px;
  margin-top: 30px;
  padding: 3px;
  float: right;
}

.photo-descrip{
  margin: 0px;
  padding: 3px;
}

.photo2-3{
  float: right;
}

.table-of-content{
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  width: 127px;
  line-height: 150%;
}

.ul-form{
  padding-left: 8px;
  margin-top: -6px;
  margin-bottom: 8px;
  list-style-type: none;
}

.ul-form-level{
  margin-left: 15px;
  margin-top: 2px;
}

.sidebar ul{
  padding-left: 40px;
  list-style-type: none;
}

ul.sidebar-first-list{
  padding-left: 20px;
}

a {
  text-decoration: none;
}

aside h4{
  padding-left: 22px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, transparent 0%, gray 50%, transparent 100%) 0 0 1 0;
  margin: -8px 0px;
}

.table-of-content h3{
  padding-left: 8px;
  margin: 7px 0px;
}
