body{
  margin: auto;
  background: linear-gradient(to right, #C3C3C3, white, #C3C3C3);
}

h1 {
   text-align: center;
}

main{
  margin-left: 10%;
  margin-right: 10%;
}

.maincontent {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.maincontent img{
   width: 90%;
}

.button {
   width: 5%;
   height: 480px;
}

.mainpic {
   background-image: url("1.jpg");
   background-size: 100%;
   background-position: center;
   width: 90%;
   background-repeat: no-repeat;
}

.arrow-r {
   transform: rotate(180deg)
}

.index-buttons {
   margin-top: 15px;
   text-align: center;
}

.index-buttons img {
   width: 40px;
   height: 40px;
}
